a {
  padding: 10px 20px;
  margin: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover {
  cursor: pointer;
}

.vim {
  background-color: #019833;
  color: white;
}

.sublime-win {
  background-color: #ff9800;
  color: black;
}

.vscode-win {
  background-color: #2f85bb;
  color: white;
}
