@import url("https://fonts.googleapis.com/css2?family=Space+Mono&display=swap");

body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif; */
  font-family: "Space Mono", monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  padding: 10px 20px;
  margin: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.backhome {
  background-color: crimson;
  color: white;
  margin: 25px;
}

.vim {
  background-color: #019833;
  color: white;
}

.sublime {
  background-color: #ff9800;
  color: black;
}

.vscode {
  background-color: #2f85bb;
  color: white;
}

.question,
.answer,
.feedback {
  display: flex;
  margin: auto;
  width: 400px;
  height: 75px;
  align-items: center;
  justify-content: center;
  border: 2px solid #2f2f2f;
}

.answer {
  background-color: #2f2f2f;
  color: white;
}
